In [3]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [4]:
!pip install mlxtend

Requirement already satisfied: mlxtend in /opt/conda/lib/python3.7/site-packages (0.17.2)
Requirement already satisfied: joblib>=0.13.2 in /opt/conda/lib/python3.7/site-packages (from mlxtend) (0.14.1)
Requirement already satisfied: scikit-learn>=0.20.3 in /opt/conda/lib/python3.7/site-packages (from mlxtend) (0.23.1)
Requirement already satisfied: scipy>=1.2.1 in /opt/conda/lib/python3.7/site-packages (from mlxtend) (1.4.1)
Requirement already satisfied: matplotlib>=3.0.0 in /opt/conda/lib/python3.7/site-packages (from mlxtend) (3.2.1)
Requirement already satisfied: pandas>=0.24.2 in /opt/conda/lib/python3.7/site-packages (from mlxtend) (1.0.3)
Requirement already satisfied: numpy>=1.16.2 in /opt/conda/lib/python3.7/site-packages (from mlxtend) (1.18.1)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from mlxtend) (46.1.3.post20200325)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2019.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.14.0)

In [5]:
df = pd.read_csv('../input/supermarket/GroceryStoreDataSet.csv',names=['products'],header=None)

In [6]:
df.shape

(20, 1)

In [7]:
df.head()

                        products
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [8]:
df

                          products
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES

In [9]:
df.columns

Index(['products'], dtype='object')

In [10]:
df.values

array([['MILK,BREAD,BISCUIT'],
       ['BREAD,MILK,BISCUIT,CORNFLAKES'],
       ['BREAD,TEA,BOURNVITA'],
       ['JAM,MAGGI,BREAD,MILK'],
       ['MAGGI,TEA,BISCUIT'],
       ['BREAD,TEA,BOURNVITA'],
       ['MAGGI,TEA,CORNFLAKES'],
       ['MAGGI,BREAD,TEA,BISCUIT'],
       ['JAM,MAGGI,BREAD,TEA'],
       ['BREAD,MILK'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,COCK'],
       ['BREAD,SUGER,BISCUIT'],
       ['COFFEE,SUGER,CORNFLAKES'],
       ['BREAD,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,SUGER'],
       ['BREAD,COFFEE,SUGER'],
       ['TEA,MILK,COFFEE,CORNFLAKES']], dtype=object)

In [11]:
data = list(df["products"].apply(lambda x:x.split(',')))
data

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [12]:
from mlxtend.preprocessing import TransactionEncoder

In [13]:
te = TransactionEncoder()
te_data = te.fit(data).transform(data)
df = pd.DataFrame(te_data,columns=te.columns_)
df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True
5,False,True,True,False,False,False,False,False,False,False,True
6,False,False,False,False,False,True,False,True,False,False,True
7,True,False,True,False,False,False,False,True,False,False,True
8,False,False,True,False,False,False,True,True,False,False,True
9,False,False,True,False,False,False,False,False,True,False,False
10,True,False,False,True,True,True,False,False,False,False,False
11,True,False,False,True,True,True,False,False,False,False,False
12,False,True,False,False,True,False,False,False,False,True,False
13,False,False,True,True,True,False,False,False,False,False,False
14,True,False,True,False,False,False,False,False,False,True,False
15,False,False,False,False,True,True,False,False,False,True,False
16,False,True,True,False,False,False,False,False,False,True,False
17,False,False,True,False,True,False,False,False,False,True,False
18,False,False,True,False,True,False,False,False,False,True,False
19,False,False,False,False,True,True,False,False,True,False,True

In [14]:
from mlxtend.frequent_patterns import apriori

In [15]:
df1 = apriori(df,min_support=0.01,use_colnames=True)
df1

    support                             itemsets
0      0.35                            (BISCUIT)
1      0.20                          (BOURNVITA)
2      0.65                              (BREAD)
3      0.15                               (COCK)
4      0.40                             (COFFEE)
..      ...                                  ...
78     0.05         (BREAD, BISCUIT, MAGGI, TEA)
79     0.10  (BISCUIT, COCK, CORNFLAKES, COFFEE)
80     0.05            (BREAD, MILK, JAM, MAGGI)
81     0.05             (BREAD, MAGGI, JAM, TEA)
82     0.05      (MILK, CORNFLAKES, TEA, COFFEE)

[83 rows x 2 columns]

In [16]:
df1.sort_values(by="support",ascending=False)

    support                         itemsets
2      0.65                          (BREAD)
4      0.40                         (COFFEE)
0      0.35                        (BISCUIT)
10     0.35                            (TEA)
5      0.30                     (CORNFLAKES)
..      ...                              ...
55     0.05      (BISCUIT, CORNFLAKES, MILK)
57     0.05        (BREAD, SUGER, BOURNVITA)
17     0.05                 (BISCUIT, SUGER)
37     0.05              (MAGGI, CORNFLAKES)
82     0.05  (MILK, CORNFLAKES, TEA, COFFEE)

[83 rows x 2 columns]

In [17]:
df1['length'] = df1['itemsets'].apply(lambda x:len(x))
df1

    support                             itemsets  length
0      0.35                            (BISCUIT)       1
1      0.20                          (BOURNVITA)       1
2      0.65                              (BREAD)       1
3      0.15                               (COCK)       1
4      0.40                             (COFFEE)       1
..      ...                                  ...     ...
78     0.05         (BREAD, BISCUIT, MAGGI, TEA)       4
79     0.10  (BISCUIT, COCK, CORNFLAKES, COFFEE)       4
80     0.05            (BREAD, MILK, JAM, MAGGI)       4
81     0.05             (BREAD, MAGGI, JAM, TEA)       4
82     0.05      (MILK, CORNFLAKES, TEA, COFFEE)       4

[83 rows x 3 columns]

In [22]:
df1[(df1['length']==2) & (df1['support']>=0.15)]

    support               itemsets  length
11     0.20       (BREAD, BISCUIT)       2
14     0.15  (BISCUIT, CORNFLAKES)       2
19     0.15     (BREAD, BOURNVITA)       2
24     0.15        (BREAD, COFFEE)       2
27     0.15         (BREAD, MAGGI)       2
28     0.20          (BREAD, MILK)       2
29     0.20         (BREAD, SUGER)       2
30     0.20           (BREAD, TEA)       2
31     0.15         (COCK, COFFEE)       2
33     0.20   (CORNFLAKES, COFFEE)       2
35     0.20        (SUGER, COFFEE)       2
45     0.20           (MAGGI, TEA)       2

In [26]:
k = association_rules(df1, metric = "confidence", min_threshold = 0.15)
print(k.head(10))

    antecedents   consequents  antecedent support  consequent support  \
0       (BREAD)     (BISCUIT)                0.65                0.35
1     (BISCUIT)       (BREAD)                0.35                0.65
2     (BISCUIT)        (COCK)                0.35                0.15
3        (COCK)     (BISCUIT)                0.15                0.35
4     (BISCUIT)      (COFFEE)                0.35                0.40
5      (COFFEE)     (BISCUIT)                0.40                0.35
6     (BISCUIT)  (CORNFLAKES)                0.35                0.30
7  (CORNFLAKES)     (BISCUIT)                0.30                0.35
8       (MAGGI)     (BISCUIT)                0.25                0.35
9     (BISCUIT)       (MAGGI)                0.35                0.25

   support  confidence      lift  leverage  conviction
0     0.20    0.307692  0.879121   -0.0275    0.938889
1     0.20    0.571429  0.879121   -0.0275    0.816667
2     0.10    0.285714  1.904762    0.0475    1.190000
3     0.10    0.666667  1.904762    0.0475    1.950000
4     0.10    0.285714  0.714286   -0.0400    0.840000
5     0.10    0.250000  0.714286   -0.0400    0.866667
6     0.15    0.428571  1.428571    0.0450    1.225000
7     0.15    0.500000  1.428571    0.0450    1.300000
8     0.10    0.400000  1.142857    0.0125    1.083333
9     0.10    0.285714  1.142857    0.0125    1.050000

In [21]:

# CORNFLAKES and COFFEE are observed together in 20 percent of all purchases
# 50 percent of customers who buy #CORNFLAKES also get biscuits.
# CORNFLAKES increase sales of the biscuit products by 1.42 times in purchases

In [ ]:
#action idea:
#CORNFLAKES and BISCUIT can be packed and labeled together, stacked on the shelves and presented to the customer.